body {
			margin: 0px;
		}
		
		.pclase {
			text-align: center;
			width: 800px;

		}

		.bloque1 {
			padding-top: 30px;
			background-image: url('images/bg.jpeg');
			height: 500px;
			width: 100%;
			box-sizing: border-box;


		}

		.logo1 {
			
			float: left;
			
			height: 50px;
			width: 100%;
			box-sizing: border-box;
			
		}


		.texto {
			
			float: left;
			text-align: center;
			color: white;
			margin-bottom: 30px;
			
		}



		.parrf1 {

			color: white;
			height: 50px;
			width: 100%;
			float: left;
			text-align: center;
			margin-top: 10px;
			

		}

		.bloque2 {
			padding-top: 30px;
			width: 100%;
			height: 400px;
			text-align: center;
		}


		.bloque3 {
			border-top: solid 1px grey;
			border-bottom: solid 1px grey;
			height: 200px;
			width: 100%;
			background-color: #fff3f9;
			padding: 20px;
			text-align: center;
			margin-bottom: 20px;

		}

		.bloque4 {
			height: 100%;
			height: 150px;

		}

		.cajatext1 {
			position: static;
			float: left;
			width: 40%;
			height: 100px;
			border-top: 20px;
			padding: 20px;
			
			text-align: center;
			box-sizing: border-box;
		}

		.cajatext2 {
			position: static;
			float: left;
			width: 60%;
			height: 100px;
			padding: 20px;
			text-align: left;
			box-sizing: border-box;
		}

		.mail {
			float: left;
			height: 25px;
			width: 250px;
			border: solid 1px grey;
			border-radius: 10px;
			text-align: center;
			color: #c7ceca69;
			padding-top: 3px;

		}

		.boton3 {
			padding-top: 3px;
			float: left;
			height: 25px;
			width: 90px;
			border: solid 1px grey;
			color: #808080;
			margin-left: 10px;
			border-radius: 10px;
			text-align: center;

		}

		.franja {
			width: 100%;
			height: 80px;
			background-color: black;
			margin-top: 40px;


		}

		.ultimotext {
			padding-top: 20px;
			float: left;
			width: auto;
			font-weight: bold;
			text-transform: uppercase;
			margin-left: 100px;
			height: 50px;
			color: white;

		}

